<html>
  <head>
    <title>HELLO WORLD</title>
  </head>
  <body>
    <h1>HELLO TODO</h1>
    <ul>
      {%for i in items%}
      <li>{{i.id}}: {{i.title}}({{i.created_at|date:"yyyy-MM-dd"}})
	<form action="/todo/{{i.id}}" method="POST">
	  <input type="hidden" name="__anti-forgery-token" value="{{token}}">
	  <input type="submit" value="DELETE">
	</form>
      </li>
      {%endfor%}
    </ul>
    <h1>Form</h1>
    {{todo-form|safe}}
  </body>
</html>
